 <!-- <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      	<a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}
      </div>
    </div>
  </footer> -->

    <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12" style="text-align:center"><br>
          <h5>Saint Philip Neri Church &nbsp; | &nbsp; <a href="https://www.google.com/maps/place/437+Ridge+Pike,+Lafayette+Hill,+PA+19444/@40.0886001,-75.2596315,17z/data=!3m1!4b1!4m2!3m1!1s0x89c6bea620627c7f:0x2214ad35a66c5bd5">437 Ridge Pike, Lafayette Hill, 19444</a> &nbsp; | &nbsp; Office 610.834.1975</h5>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <p class="text-center">Copyright 2015 &middot; All rights reserved &middot; Designed & updated by the <a href="/administration/#web_site" style="text-decoration:underline;">SPN Class of 2003</a></p>
      </div>
    </div>
  </footer>